# Xcode / Swift
.DS_Store
xcuserdata/
*.xcuserstate
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# CocoaPods / Carthage (if ever added)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
